.bottom-section {
  position: relative;
  padding-bottom: 130px;

  @include desktop {
    background: url('../images/bg/Budda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 50%;
  }
}