.skills-row__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.skills-row__item {
  margin-right: 35px;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 700;
}

.skills-row__list {
  display: flex;
}