.skills-row__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;

  @include desktop {
    margin-bottom: 15px;
  }
}

.skills-row__item {
  margin-right: 35px;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 700;

  @include desktop {
    font-size: 15px;
  }

  @include tablets {
    font-size: 12px;
  }
}

.skills-row__list {
  display: flex;
}