.values {
  background-image: url('../images/content/bag.png');
  background-repeat: no-repeat;
  background-size:  40% auto;
  background-position: 0 40%;
}

.values__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values__title {
  font-weight: 700;
  width: 42%;
  margin-bottom: 70px;
}

.values__title-text {
  margin-bottom: 40px;
}

.values__desc {
  opacity: 0.5;
  color: #414c63;
  line-height: 1.8em;
}