.welcome-section {
  position: relative;
  min-height: 160vh;
  padding-bottom: 100px;

   @include super-wide {
    background: url('~images/bg/hero_wide.jpg') center top no-repeat / cover;
  }

  @include tablets {
    background: url('~images/bg/hero.jpg') center top no-repeat / cover;
  }

  @include phones {
    background-position: 60% 50%;
  }
}
