.admin-wrapper {
  display: flex;
  flex-direction: column;
}

.maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tooltips-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
  visibility: hidden;
  transition: .3s;
}