script(type="text/x-template")#reviews
  .reviews
    .reviews__title
      .section-title.reviews__section-title Что обо мне говорят
      .reviews__slider-controls
        button(@click="slide('prev')").reviews__slider-prev
          +icon('arrow-down', 'reviews__slider-prev-icon')
        button(@click="slide('next')").reviews__slider-next
          +icon('arrow-down', 'reviews__slider-next-icon')
    .reviews__content
      ul.reviews__content-wrapper(ref="reviews-slider")
        li.reviews__content-item(v-for="review in reviews")
          .quote
            .quote__text {{review.text}}
            .quote__author
              .user--horizontal
                .user__avatar
                  img(:src="`https://webdev-api.loftschool.com/${review.photo}`").user__avatar-pic
                .user__data
                  .user__name {{review.author}}
                  .user__occ {{review.occ}}
            
